name: Continuous Integration
on:
  push:
  pull_request:
    branches:
      - master
permissions:
  contents: read

jobs:
  test:
    name: test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - uses: actions/checkout@v4
      - name: Run tests
        run: go test -race ./...
  # lint:
  #   permissions:
  #     contents: read  # for actions/checkout to fetch code
  #     pull-requests: read  # for golangci/golangci-lint-action to fetch pull requests
  #   name: lint
  #   strategy:
  #     matrix:
  #       os: [macos-latest, ubuntu-latest]
  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - uses: actions/setup-go@v5
  #       with:
  #         go-version-file: 'go.mod'
  #     - uses: actions/checkout@v3
  #     - name: golangci-lint
  #       uses: golangci/golangci-lint-action@v6.3.2
  #       with:
  #         version: v1.52.0
